<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/css.css'%}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./homepage.js"></script>
    <title>HTML Virtual Lab</title>

    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 15,
                time: 900
            });
        });
    </script>
</head>

<body class="p-0 container-fluid vlabs-page d-flex flex-column justify-content-between">

    <!--End Google Tag Manager (noscript)-->

    <div class="inline-block">
        <div class="nav1" style="border-bottom:dashed red 5px;">
            <img src="./images/Rait_new_logo_png.png" alt="" class="logo" height="105px" width="60px">
            <span class="name">RAIT VIRTUAL LABS</span>
            <img src="./images/CSS3_logo_and_wordmark.svg.png" alt=""
                style="width:7.3%; float: right; margin-right: 2%;" height="140px" width="40px">
            <img src="./images/HTML5_Logo_512.png" alt="" style="width: 10%; float: right;" height="140px" width="40px">
        </div>
        <div class="ui container slider-box " style="width:50%;margin: 1%;margin-left:25%;top:10%">
            <div class="drag-slider">
                <img src="./images/PicsArt_10-20-07.18.58.png" alt="" height="450px">
                <div class="resize">
                    <img src="./images/PicsArt_10-20-07.38.32.png" alt="" height="450px">
                </div>
                <span class="handle"></span>
            </div>
        </div>



        <div class="elementor-shape elementor-shape-bottom" data-negative="false" style="margin:0;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"
                style="margin:0;fill:white; transform: rotate(180deg);">
                <path class="elementor-shape-fill" d="M761.9,44.1L643.1,27.2L333.8,98L0,3.8V0l1000,0v3.9">
                </path>
            </svg>
        </div>
    </div>



    <div class="row  px-4 " style="margin-top: 2%;
			
			color: black;
			;background-size: cover;
			height: 450px;">
        <div class="nav flex-column col-sm-3 col-lg-2 sidebar"><a href="index.html" class="py-2">Introduction</a>
            <a href="Objective.html" class="py-2" class="side-nav">Objective</a>
            <a href="Experiments.html" class="py-2">Experiments</a>
            <a href="Resources.html" class="py-2" class="side-nav">Resources</a></div>
        <div class="main col-sm-9 col-lg-10 pr-5 pb-4 basic">
            <span class="lab-name">
                <h3 class="text-center">Basics of HTML</h3>
            </span>
            <!--labname-->

            <h4 class="page-name">Resources</h4><br>
            <div class="details">
                <table style="font-weight: normal;border: 1px solid black;padding: 3px;">
                    <tr>
                        <th>Website</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><a href="https://www.w3schools.com/html/default.asp">W3Schools</a></td>
                        <td>W3Schools is an educational website for learning web technologies online</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.tutorialspoint.com/html/index.htm">Tutorialspoint</a></td>
                        <td>W3Schools is an educational website for learning web technologies online</td>
                    </tr>
                    <tr>
                        <td><a href="https://en.wikipedia.org/wiki/HTML">Wikipedia</a></td>
                        <td>Introductory HTML information</td>
                    </tr>
                </table>

            </div>


        </div>
    </div>


</body>

</html>